body{
font-family: arial;
}
table{
margin-top: 20px;
margin-left: 20px;	
width: 95%;
border-collapse: collapse;
background-color: #fff;
font-size: 14px;
height: 38px;
}
table tr{
height: 40px;
}
table th{
background: #333;
color: white;
font-weight: bold;
font-size: 18px;
}
table td, th{
padding: 6px 6px 6px 10px;
border: 1px solid #ccc;
}
table tr:nth-of-type(odd){
background-color: #eee;
}
.css-serial{
counter-reset: serial-number;
}
.css-serial td:first-child:before{
counter-increment: serial-number;
content: counter(serial-number);
}